 

  .panel1 { background-image:url('img/mountains.jpg'); }
  .panel2 { background-image:url('img/flashlight.jpg'); }
  .panel3 { background-image:url('img/hike.jpg'); }
  .panel4 { background-image:url('img/fox.jpg'); }
  .panel5 { background-image:url('img/field.jpg'); }

  main { font-weight: 300; width: 100%; display:block; background:#333;font-family: 'Amatic SC', cursive;}
  .panels {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
  }

  .panels .panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    text-align: center;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
    padding: 1rem;
    cursor: pointer;
  }

  .panel p {
     
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 1px 6px #333; 
    font-size: 3rem;
    transition: transform 0.5s, font-size .8s ease-in-out;
  }

  .panel p:first-child {
    transform: translateY(-100%);
  }  
  .panel p:last-child {
    transform: translateY(100%);
  }
  .panel.open-active p:first-child, .panel.open-active p:last-child {
    transform: translateY(0);
  }
  .panel p:nth-of-type(2n+2) {
    font-size: 5rem;  
  }
  .panels .panel.open { flex: 5;}
  .panel.open p { font-size: 4rem; }
  .panel.open p:nth-of-type(2n+2) {
    font-size: 8rem;  
  }